apiVersion: apps/v1
kind: Deployment
metadata:
  name: devops-flask
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: devops-flask
  template:
    metadata:
      labels:
        app: devops-flask
    spec:
      containers:
        - name: app
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          ports:
            - containerPort: 5000
          readinessProbe:
            httpGet:
              path: /health
              port: 5000
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health
              port: 5000
            initialDelaySeconds: 15
            periodSeconds: 20
